/* Navbar */

#navigationbar ul li a{
    font-size: 1.32rem;
}

/* Heading */

#home h1{
    font-size: 4.4rem;
}

#home p{
    font-size: 1.8rem;
}

#home::before{
    height: 230px;
}

/* Content Styling */

#container{
    padding-top: 50px;
    margin: 0px 40px;
}

.box{
    grid-template-columns: 0.9fr 5fr 2.1fr;
    grid-gap: 0.8rem;
}

.detail{
    grid-template-rows: 0.65fr 2fr 0.5fr;
}

.detail h1{
    font-size: 2.3rem;
}

.description p{
    font-size: 1.4rem;
}