/* 1920×1080 (8.89%)
1366×768 (8.44%)
360×640 (7.28%)
414×896 (4.58%)
1536×864 (3.88%)
375×667 (3.75%) */

#container{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 640px);
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.trailer{
    position: absolute;
    top: 340px;
}

.img{
    position: absolute;
    left: -3px;
    top: 40px;
}

.description{
    margin: 45px 0px;
}

#button{
    margin: 20px -7px
}

.detail h1{
    font-size: 1.8rem;

}
